@use '/src/styles/colors' as colors;
@use '/src/styles/mixin' as mixin;

.carousel_nav {
  position: absolute;

  display: flex;
  flex-flow: row wrap;

  width: 7rem;

  left: 5%;
  bottom: -9%;

  p {
    width: 100%;

    margin-bottom: 1rem;

    text-align: start;

    color: colors.brand('dark-blue', 1);

    font-size: 1rem;
  }

  .nav_controls {
    @include mixin.flex(null, space-between, null);

    width: 100%;

    button {
      @include mixin.flex(null, center, center);
      width: 50px;
      height: 50px;

      background-color: rgb(238, 239, 243);

      border-radius: 50%;
      border: 1px solid colors.brand('dark-blue', 0.5);

      font-weight: 400;
      font-size: 20px;

      svg {
        width: 18px;
        height: 18px;
        fill: colors.brand('dark-blue', 0.1);
        stroke: colors.brand('dark-blue', 0.1);
      }
    }

    :nth-child(1) > svg {
      margin-right: 2px;
    }

    :last-child > svg {
      margin-left: 2px;
    }

    button:hover,
    button:active {
      color: colors.brand('dark-blue', 1);
      border: 1px solid colors.brand('dark-blue', 1);
      transition: all 1s ease;

      svg {
        fill: colors.brand('dark-blue', 1);
      }
    }

    button:disabled {
      opacity: 0.5;
    }
  }
}

@media (max-width: 320px) {
  .carousel_nav {
    bottom: -99%;
    left: 0;
    z-index: 5;

    flex-flow: row wrap;

    width: 20%;
    height: 20%;

    font-size: 10px;

    p {
      width: 100%;
      margin: 0;
    }

    .nav_controls {
      width: 100%;

      button {
        @include mixin.flex(null, center, center);
        width: 25px;
        height: 25px;

        svg {
          width: 9px;
          height: 9px;
          fill: colors.brand('dark-blue', 0.1);
          stroke: colors.brand('dark-blue', 0.1);
        }
      }
    }
  }
}
