@forward 'reset';
@forward 'colors';
@forward 'mixin';
@forward 'font';
@forward 'vars';

@use 'mixin' as mixin;
@use 'colors' as colors;

html {
  background-color: colors.brand('gray-bg', 0.6);

  body {
    @include mixin.flex(null, center, center);

    max-width: 1440px;
    margin: 0 auto;
    height: 100vh;

    border: 1px solid colors.brand('dark-blue', 0.1);
  }
}

@media (max-width: 320px) {
  html > body {
    @include mixin.flex(column, center, center);

    max-width: 280px;
    height: 100vh;
    border: none;
  }
}

:global(.swiper) {
  width: 90%;
}

:global(.swiper-pagination-clickable) {
  position: absolute;
  bottom: 10%;
}

:global(.swiper-pagination-bullet-active) {
  background-color: colors.brand('dark-blue', 1);
  opacity: 1;
}

@media (max-width: 320px) {
  :global(.swiper) {
    height: 100%;
  }

  :global(.swiper-slide) {
    opacity: 1;
    transition: opacity 0.3s ease;
  }

  :global(.swiper-wrapper) {
    height: 100%;
  }

  :global(.swiper-slide-next) {
    opacity: 0.5;
  }

  :global(.swiper-slide-prev) {
    opacity: 0.5;
  }
}
