@forward 'reset';
@forward 'colors';
@forward 'mixin';
@forward 'font';
@forward 'vars';

@use 'mixin' as mixin;
@use 'colors' as colors;

html {
  background-color: colors.$brand-gray-bg;

  body {
    @include mixin.flex(null, center, center);

    max-width: 1440px;
    margin: 0 auto;
    height: 100vh;

    border: 1px solid colors.brand-dark-blue(0.1);
  }
}
