@mixin flex($direction, $horizontal, $vertical) {
  display: flex;

  @if $direction != null {
    flex-direction: $direction;
  }

  @if $horizontal != null {
    justify-content: $horizontal;
  }

  @if $vertical != null {
    align-items: $vertical;
  }
}
