@use '/src/styles/index' as *;

.carousel {
  text-align: center;
  user-select: none;
  margin-top: 60px;

  &_container {
    position: relative;
    width: var(--slider-size);
    height: var(--slider-size);
    margin: 0 auto;
  }

  &_circle {
    position: absolute;
    left: 0;
    top: 0;
    width: var(--slider-size);
    height: var(--slider-size);
    border-radius: 50%;
    border: 2px solid brand-dark-blue(.2);
    pointer-events: none;
  }

  &_points {
    position: absolute;
    left: 0;
    top: 0;
    scale: 1.1;
    width: var(--slider-size);
    height: var(--slider-size);
    pointer-events: none;

    &_item {
      position: absolute;
      width: var(--point-size);
      height: var(--point-size);
      border-radius: 50%;
      color: #fff;
      line-height: var(--point-size);
      text-align: center;
      cursor: pointer;
      user-select: none;
      transform: translate(-50%, -50%);
      font-size: 18px;
      z-index: 3;
      pointer-events: auto;
      transition: background 0.3s, box-shadow 0.3s;
      font-weight: normal;
      background: var(--point-inactive-bg);
      box-shadow: none;

      &.active {
        background: var(--point-active-bg);
        box-shadow: var(--point-active-shadow);
        font-weight: bold;
      }

      &.hover {
        transform: scale(2);
      }
    }
  }
}
.content {
  margin-top: 40px;
  min-height: 80px;
}
