@use '/src/styles/index' as *;

.carousel {
  @include flex(column, null, center);

  max-width: 1440px;
  height: 100%;

  margin-top: 10%;

  text-align: center;

  user-select: none;

  &_container {
    position: relative;

    @include flex(null, center, center);

    width: 100%;
    height: var(--slider-size);

    margin-bottom: 10rem;

    hr {
      position: absolute;
      bottom: 0;

      display: none;

      height: 2px;
      width: 100%;

      background-color: brand('hr', 0.6);

      margin: 10px 0;
    }
  }

  &_slider {
    height: 20%;
  }

  &_lines {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    pointer-events: none;
    z-index: 50;

    .horizontal {
      position: absolute;
      top: 50%;
      left: 0;

      width: 100%;
      height: 1px;

      background-color: brand('dark-blue', 0.1);
      transform: translateY(-50%);
    }

    .vertical {
      position: fixed;
      top: 0;
      left: 50%;

      width: 1px;
      height: 100%;

      background-color: brand('dark-blue', 0.1);
      transform: translateX(-50%);
    }
  }

  .float_date {
    position: absolute;
    left: 50%;
    transform: translate(-50%);

    @include flex(null, null, center);

    gap: 2rem;

    height: 10rem;

    z-index: 80;

    &_min {
      color: brand('accent-blue', 0.9);
    }

    &_max {
      color: brand('accent-pink', 0.9);
    }
  }

  &_circle {
    position: absolute;

    width: var(--slider-size);
    height: var(--slider-size);

    border-radius: 50%;
    border: 2px solid brand(dark-blue, 0.2);

    pointer-events: none;
  }

  &_points {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;

    width: var(--slider-size);
    height: var(--slider-size);
    scale: 1.1;

    pointer-events: none;

    &_item {
      @include flex(null, center, center);
      position: absolute;

      width: 8px;
      height: 8px;

      background: brand('dark-blue', 0.8);
      color: transparent;

      border-radius: 50%;

      font-weight: bold;
      font-size: 14px;

      transform: translate(-50%, -50%);
      transition: width 0.3s ease, height 0.3s ease,
        background 0.3s ease, box-shadow 0.3s ease;

      cursor: pointer;
      user-select: none;
      pointer-events: auto;

      &.hover,
      &.active {
        width: 56px;
        height: 56px;

        background-color: rgb(238, 239, 243);
        color: brand('dark-blue', 1);

        border: 1px solid brand('dark-blue', 1);
      }
    }
  }

  .label {
    position: absolute;
    top: 14%;
    right: -23%;

    width: 25%;

    color: brand('dark-blue', 1);

    text-align: left;
    font-weight: bold;
    font-size: 18px;
    white-space: nowrap;

    transform: translateY(-50%);

    pointer-events: none;
    user-select: none;
  }
}

@media (max-width: 320px) {
  .carousel {
    &_container {
      height: 50%;
      margin: 0 auto;

      .float_date {
        justify-content: space-between;

        width: 100%;

        padding-top: 40%;

        gap: 0;
      }

      hr {
        margin-top: 10%;
        display: block;
      }
    }
    &_circle {
      display: none;
    }
    &_lines {
      display: none;
    }

    .slider_container {
      width: 90%;
      height: 50%;

      transition: all 0.1 ease;
    }
  }
}
