@use '/src/styles/index' as *;

.carousel {
  height: 100%;
  text-align: center;
  user-select: none;
  

  //TEST
  border: 2px solid red;

  &_container {
    position: relative;

    width: var(--slider-size);
    height: var(--slider-size);
    // margin: 9% auto;
  }
  // .crossLines {
  //   position: absolute;
  //   left: 50%;
  //   top: 50%;
  //   width: 100%;
  //   height: 100%;
  //   pointer-events: none; /* чтобы линии не мешали кликам */
  //   transform: translate(-50%, -50%);
  //   z-index: 0; /* под точками */
  // }

  // .lineVertical {
  //   position: absolute;
  //   top: 0;
  //   left: 50%;
  //   width: 2px; /* толщина линии */
  //   height: 100%;
  //   background-color: rgba(0, 123, 255, 0.2);
  //   transform: translateX(-50%);
  // }

  // .float_date {
  //   position: absolute;
  //   top: 13%;
  //   left: 50%;
  //   transform: translate(-50%);
  //   width: 53%;
  //   display: flex;
  //   justify-content: space-between;
  //   font-size: 9rem;
  //   font-weight: bold;

  //   &_left {
  //     color: $brand-accent-blue;
  //   }

  //   &_right {
  //     color: $brand-accent-pink;
  //   }
  // }

  .lineHorizontal {
    position: absolute;
    top: 50%;
    left: 0;

    height: 2px;
    width: 100%;

    background-color: rgba(0, 123, 255, 0.2);

    transform: translateY(-50%);
  }

  &_circle {
    position: absolute;
    left: 0;
    top: 0;

    width: var(--slider-size);
    height: var(--slider-size);

    border-radius: 50%;
    border: 2px solid brand-dark-blue(0.2);

    pointer-events: none;
  }

  &_points {
    position: absolute;
    left: 0;
    top: 0;

    scale: 1.1;
    width: var(--slider-size);
    height: var(--slider-size);

    pointer-events: none;

    &_item {
      @include flex(null, center, center);
      position: absolute;

      width: 8px;
      height: 8px;

      background: brand-dark-blue(0.8);
      color: transparent;

      border-radius: 50%;
      box-sizing: border-box;

      font-weight: bold;
      font-size: 14px;

      transform: translate(-50%, -50%);
      transition: width 0.3s ease, height 0.3s ease,
        background 0.3s ease, box-shadow 0.3s ease;

      cursor: pointer;
      user-select: none;
      pointer-events: auto;

      &.hover,
      &.active {
        width: 56px;
        height: 56px;

        background-color: rgb(238, 239, 243);
        color: brand-dark-blue(1);

        border: 1px solid brand-dark-blue(1);
      }

      //FIXME LATER
      // &.active {
      //   width: 56px;
      //   height: 56px;

      //   background-color: rgb(238, 239, 243);
      //   border: 1px solid brand-dark-blue(1);
      //   color: brand-dark-blue(1);
      // }
    }
  }

  .number {
    transform: rotate(calc(var(--rotation, 0deg) * -1));
    user-select: none;
  }

  .label {
    position: absolute;
    top: 11%;
    right: -15%;

    color: brand-dark-blue(1);

    font-weight: bold;
    font-size: 18px;
    white-space: nowrap;

    transform: translateY(-50%);

    pointer-events: none;
    user-select: none;
  }
}

// .content {
//   margin-top: 40px;
//   min-height: 80px;
//   font-size: 16px;
//   color: #333;
// }
