@use '/src/styles/index' as *;

.main {
  position: relative;

  .title {
    position: absolute;
    left: 0;
    top: 0;

    width: 30%;

    hr {
      width: 5px;
      height: 120px;

      background: linear-gradient(
        180deg,
        #ef5da8 0%,
        #3877ee 100%
      );
    }

    h1 {
      padding-bottom: 5px;

      color: brand('gray-bg', 0.8);

      line-height: 120%;
      font-weight: 700;
      font-size: 56px;
    }
  }

  .wrapper {
    height: 75vh;
  }
}
//CURRENT
@media (max-width: 320px) {
  .main {
    width: 100%;
    max-width: 280px;
    height: 100vh;

    .wrapper {
      width: 100%;
      height: 100%;
    }
  }
}
